In [50]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/gabriel/.local/lib/python3.10/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/gabriel/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [51]:
from pyspark.sql import SparkSession

# Crie uma instância do SparkSession
spark = SparkSession.builder.appName("atividadePUC").getOrCreate()

In [52]:
# Leitura de um arquivo CSV em um DataFrame
itens_provas = spark.read.csv("enem2020/DADOS/ITENS_PROVA_2020.csv", header=True, sep=";")
microdados_enem = spark.read.csv("enem2020/DADOS/MICRODADOS_ENEM_2020.csv", header=True, sep=";")
dic_micro_dados = spark.read.csv("enem2020/DICIONÁRIO/Dicionário_Microdados_Enem_2020.xlsx", header=True, sep=";")

In [53]:
itens_provas.createOrReplaceTempView('ITENS_PROVA_2020')
microdados_enem.createOrReplaceTempView('MICRODADOS_ENEM_2020')

Quantas mulheres que moram sozinhas, estudaram numa escola no estado de SP fizeram a prova de Ciências Humanas do ENEM em 2020?

#Q005 - 1 = Mora sozinho(a)
#TP_SEXO = 'F'
#SG_UF_ESC = 'sp'
#CO_PROVA_CH <> '' ou Null

In [54]:
pergunta_1 = spark.sql("""
SELECT 
    TP_SEXO as SEXO,
    SG_UF_ESC as UF,
    CO_PROVA_CH,
    CO_UF_PROVA,
    Q005 AS MORA_SOZINHA
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    TP_SEXO = 'F'
    AND SG_UF_ESC = 'SP'
    AND TP_PRESENCA_CH = 1
    AND Q005 = 1;
""")
                       

# Conta o número total de linhas no DataFrame
total_de_linhas = pergunta_1.count()

# Exibe o total de linhas
print("Total de linhas:", total_de_linhas)

Total de linhas: 65

Qual é o município (município da escola) que obteve a maior nota MÉDIA em matemática?

#Group by NO_MUNICIPIO_ESC = nome do municipio
# NU_NOTA_MT = nota matematica

In [55]:
spark.sql("""
SELECT 
    NO_MUNICIPIO_ESC AS MUNICIPIO,
    AVG(NU_NOTA_MT) AS NOTA_MEDIA_MAT,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_MT IS NOT NULL
GROUP BY 
    NO_MUNICIPIO_ESC
ORDER BY 
    NOTA_MEDIA_MAT DESC
""").show()

+--------------------+-----------------+---------------------+
|           MUNICIPIO|   NOTA_MEDIA_MAT|CONTAGEM_PARTICPANTES|
+--------------------+-----------------+---------------------+
|          Novo Xingu|            836.1|                    1|
|      Novo Itacolomi|            823.2|                    1|
|    Coqueiros do Sul|            787.4|                    1|
|           Biquinhas|            784.2|                    1|
| Santa Clara d'Oeste|            738.0|                    1|
| Santana do Manhua�u|            720.2|                    1|
|            Jesu�nia|            714.7|                    1|
|              Vanini|            713.4|                    1|
|        Dolcin�polis|            711.4|                    1|
|      Pedro Teixeira|            703.4|                    1|
|              Flora�|            702.7|                    2|
|           Ubiretama|696.6500000000001|                    2|
|            Populina|            695.0|                    2|
|         Forquetinha|            694.3|                    1|
|          Campan�rio|            694.0|                    1|
|        Parais�polis|691.3377777777777|                   45|
|Vargem Grande do ...|691.1666666666666|                    3|
|         Passa Vinte|           688.95|                    2|
|            Holambra|680.8678571428571|                   56|
|            Selv�ria|            677.3|                    1|
|            Coroados|            677.2|                    1|
|        Carlos Gomes|            677.0|                    2|
|            Sobr�lia|          675.775|                    4|
|Vista Alegre do Alto|            674.9|                    1|
|Santa Cec�lia do Sul|            666.7|                    1|
|                Ava�|            665.6|                    1|
|             Guarani|            664.9|                    1|
|           Buritizal|            664.3|                    1|
|             Aguanil|            661.3|                    2|
|  Fernandes Tourinho|657.1999999999999|                    4|
|     Porto Vera Cruz|            655.4|                    2|
|           Esmeralda|655.0666666666666|                    3|
|       Monte Formoso|            653.6|                    1|
|                �leo|            653.5|                    2|
|Sebastian�polis d...|            653.2|                    1|
|            Montauri|            652.7|                    1|
|  Senador Jos� Bento|            651.9|                    1|
|        Caetan�polis|650.9333333333333|                   12|
|     Coronel Pacheco|            648.8|                    1|
|             Guarar�|            648.8|                    1|
|              Turu�u|            647.9|                    1|
|        Vila L�ngaro|            647.6|                    1|
|            Valinhos|645.8380042462845|                  471|
|         Cerro Largo|644.4136363636364|                   44|
|           Itaverava|            643.2|                    2|
|          Onda Verde|            642.7|                    1|
|           Indiapor�|            642.5|                    1|
|         Paulist�nia|           641.25|                    2|
|           Nova Lima|639.8063241106721|                  253|
|    Leandro Ferreira|            638.3|                    1|
+--------------------+-----------------+---------------------+
only showing top 50 rows

In [56]:
total_participantes = spark.sql("""
SELECT 
   * FROM MICRODADOS_ENEM_2020
""").show()

# Exibe o total de linhas
print("Total de linhas:", total_participantes)

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|CO_MUNICIPIO_PROVA|  NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|CO_PROVA_CN|CO_PROVA_CH|CO_PROVA_LC|CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q005|Q006|Q007|Q008|Q009|Q010|Q011|Q012|Q013|Q014|Q015|Q016|Q017|Q018|Q019|Q020|Q021|Q022|Q023|Q024|Q025|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|200006271946|  2020|             11|      F|              1|          2|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           1501402|               Bel�m|         15|         PA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001195856|  2020|             11|      M|              2|          3|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2408102|               Natal|         24|         RN|             1|             1|             1|             1|        702|        689|        693|        698|     604.1|     661.7|     595.3|     711.3|BCBDBDCCCDBDDBADE...|BCAECABCDCEBDBBBD...|99999CADDEDADBAAB...|EBEBDEDAECBADCADD...|        1|ABBACBCCCDDDDBAEE...|BCEECDBCCDEBDBBBB...|99999CBDDEDBDBACE...|BBEADECAECBBXCEBA...|                1|          120|          120|          120|          120|          100|            580|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001943954|  2020|              4|      F|              2|          3|               2|              2|              0|        2|        1|           0|         2927408|           Salvador|       29|       BA|                     2|                 1|              1|           2927408|            Salvador|         29|         BA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   C|   A|   D|   3|   B|   A|   B|   A|   A|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|
|200001908998|  2020|              2|      M|              1|          3|               1|              2|              0|        2|        1|           0|         3547304|Santana de Parna�ba|       35|       SP|                     3|                 1|              1|           3547304| Santana de Parna�ba|         35|         SP|             1|             1|             1|             1|        700|        688|        692|        696|     620.8|       675|     624.2|     759.4|EBEDCCCDCBDBAECAE...|DABCCACCBCCDCADBD...|DCEAB99999AADAECC...|CBDBDCCDDEECBAABB...|        0|BDECCACBEBDEAEDAE...|DABCCAECBABECADBD...|DCEAD99999AADACCC...|EBDBXCCDAEECBAABA...|                1|          140|          200|          140|          120|          160|            760|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001634757|  2020|              4|      F|              1|          3|               2|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3121605|          Diamantina|         31|         MG|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   G|   B|   B|   3|   B|   A|   B|   D|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   B|   B|   A|   A|   B|
|200003132410|  2020|              3|      F|              1|          3|               1|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           4305207|         Cerro Largo|         43|         RS|             1|             1|             1|             1|        598|        567|        577|        588|     498.1|     604.7|     505.4|     526.7|CABBEEACAEBEBCCDA...|ACEBBDDCADDAACEEA...|99999CBECEBEDBEEC...|BADCAAAEEDBEDBACE...|        1|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          140|          120|          140|          140|          160|            700|   C|   B|   C|   B|   5|   C|   A|   B|   E|   A|   A|   B|   A|   A|   A|   B|   A|   A|   B|   B|   A|   D|   A|   B|   B|
|200001379770|  2020|              9|      M|              1|          3|               1|              1|              6|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2611606|              Recife|         26|         PE|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001334237|  2020|              4|      M|              1|          1|               1|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3550308|           S�o Paulo|         35|         SP|             1|             1|             1|             1|        699|        687|        691|        695|     604.6|     604.8|     562.1|     753.2|CECACBBCADACADDEE...|EAADABBEABCADDBAA...|CADDE99999AEEADBA...|BABADDBDAEBAEBBBE...|        0|DEAAECBBCDCBAEBEE...|EAAADBBEDBDACDBCC...|CADDE99999DEBBBBB...|BABBDABAEEBACBACD...|                1|          140|          120|          120|          120|          100|            600|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200006762554|  2020|              5|      F|              2|          3|               1|              1|              3|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2507507|         Jo�o Pessoa|         25|         PB|             1|             1|             1|             1|        598|        567|        577|        588|     439.7|     383.5|     486.2|     448.5|DABCDCAEDEDCBEDCD...|ECCAEAEACDDABCBDA...|99999DDCBBABECCAC...|EEDCCEACEBAAAADCD...|        1|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          120|          120|          120|          140|          100|            600|   B|   C|   C|   B|   2|   B|   A|   B|   C|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   A|   C|   A|   A|   A|
|200005146210|  2020|              2|      M|              1|          2|               1|              2|              0|        2|        1|           0|            null|               null|     null|     null|                  null|              null|           null|           2304400|           Fortaleza|         23|         CE|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   A|   A|   B|   A|   4|   B|   A|   B|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   A|   A|   A|   B|
|200004902048|  2020|              6|      M|              1|          1|               1|              1|              3|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3550308|           S�o Paulo|         35|         SP|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   B|   B|   B|   7|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   B|   A|   A|   B|   A|   A|   C|   B|   B|   B|
|200006138472|  2020|              7|      M|              1|          1|               1|              1|              0|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2910727|           Eun�polis|         29|         BA|             1|             1|             1|             1|        598|        567|        577|        588|     491.1|     631.4|     627.9|     546.5|BAEACEDBACDDEDECE...|CDEABDDDABDBEABCA...|AACDC99999ABDBEDA...|EBCDBEBABDBBDABCB...|        0|CEDBDDDCACCBDAEBA...|DABCBDDDAEDBECECB...|AAEDCACEEECEAACBA...|AEBCCXCCCACCDABCC...|                1|          140|          120|          140|          120|          120|            640|   B|   C|   C|   B|   5|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   B|   A|   B|   A|   A|   C|   A|   B|   B|
|200005613689|  2020|              3|      F|              1|          3|               1|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           5008305|         Tr�s Lagoas|         50|         MS|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   D|   E|   A|   A|   3|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   A|   A|   A|   C|   A|   A|   A|
|200004833505|  2020|             11|      F|              2|          2|               1|              1|             12|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3547809|         Santo Andr�|         35|         SP|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200004570764|  2020|             11|      M|              1|          2|               1|              1|              0|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2604007|             Carpina|         26|         PE|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   H|   B|   F|   B|   3|   B|   A|   C|   D|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   B|   A|   B|   B|
|200001071590|  2020|              5|      F|              1|          3|               1|              1|              0|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2800308|             Aracaju|         28|         SE|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001934470|  2020|              7|      F|              1|          3|               1|              1|              4|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2933307|Vit�ria da Conquista|         29|         BA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   A|   B|   F|   F|   3|   B|   A|   B|   C|   A|   A|   B|   B|   A|   A|   A|   A|   A|   B|   A|   A|   C|   A|   B|   B|
|200006066678|  2020|              4|      M|              1|          1|               1|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           4106902|            Curitiba|         41|         PR|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200003343448|  2020|              7|      F|              1|          3|               1|              1|              3|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2704302|              Macei�|         27|         AL|             1|             1|             1|             1|        597|        569|        580|        587|     422.4|     488.1|     559.1|     420.3|BDCEDABCECACBDCBB...|CAEADAEEDEDBDDCAB...|CADAA99999ABCBEBD...|BBCCDBEADABBE*CED...|        0|DDBACBDDDECDAEDCC...|DECCADEBDECBBECDD...|DCEAAEEEACAACBBEB...|DABCCAEDBBCCCABCA...|                1|          140|          180|          140|          160|          180|            800|   C|   C|   C|   B|   2|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   B|   A|   C|   A|   B|   B|

Quantas pessoas que estudaram numa escola em Recife fizeram a prova do ENEM nessa mesma cidade?

In [57]:
total_participantes = spark.sql("""
SELECT 
   * FROM MICRODADOS_ENEM_2020
   where NO_MUNICIPIO_ESC = 'Recife'
""").count()

# Exibe o total de linhas
print("Total de linhas:", total_participantes)

Total de linhas: 10735

Qual é a cidade (município da escola) que possui a MAIOR nota em Ciências Naturais?

In [87]:
spark.sql("""
SELECT 
    NO_MUNICIPIO_ESC AS MUNICIPIO,
    AVG(NU_NOTA_CN) AS NOTA_MEDIA_CN,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_CN IS NOT NULL
GROUP BY 
    NO_MUNICIPIO_ESC
ORDER BY 
    NOTA_MEDIA_CN DESC;
""").show(50)

+--------------------+-----------------+----------------------+
|           MUNICIPIO|    NOTA_MEDIA_CN|CONTAGEM_PARTICIPANTES|
+--------------------+-----------------+----------------------+
|           Biquinhas|            670.6|                     1|
|    Coqueiros do Sul|            649.7|                     1|
|          Novo Xingu|            647.2|                     1|
|         Passa Vinte|            621.4|                     2|
|Santo Ant�nio do ...|            614.3|                     1|
|           Gon�alves|            608.6|                     1|
|     Porto Vera Cruz|           608.55|                     2|
|Vargem Grande do ...|605.7666666666668|                     3|
|       Monte Formoso|            604.8|                     1|
|      Pedro Teixeira|            595.1|                     1|
|             Aguanil|           594.15|                     2|
|            Montauri|            594.1|                     1|
|        Mariano Moro|            593.3|                     1|
| Santana do Manhua�u|            591.2|                     1|
|            Holambra|587.1714285714286|                    56|
|           Ubiretama|            586.3|                     2|
|      Novo Itacolomi|            586.1|                     1|
|            Sobr�lia|           583.55|                     4|
|         Travesseiro|            581.6|                     1|
|        Parais�polis|580.5822222222222|                    45|
|            Joan�sia|           579.25|                     2|
|  Fernandes Tourinho|            577.9|                     4|
|              Turu�u|            577.9|                     1|
|             Alegria|            577.6|                     1|
|        Carlos Gomes|            575.6|                     2|
|              Flora�|           574.65|                     2|
|            Coroados|            571.8|                     1|
|           Buritizal|            571.8|                     1|
|               Paial|            570.4|                     1|
|        Monte Horebe|            569.1|                     1|
| Nova Cana� Paulista|            568.1|                     1|
|    Saldanha Marinho|          568.025|                     4|
|   Boqueir�o do Le�o|567.1999999999999|                     3|
|    Iracema do Oeste|            566.8|                     1|
|          Campan�rio|            565.1|                     1|
|     Fernando Falc�o|            564.8|                     1|
|            Cunhata�|564.7666666666667|                     3|
|       Campo Florido|564.5666666666667|                     3|
|  S�o Pedro do Buti�|564.3666666666667|                     6|
|            Il�polis|            563.9|                     2|
|            Valinhos|563.8314225053078|                   471|
|         Cerro Largo|562.4454545454545|                    44|
|   Nova Guataporanga|           561.95|                     2|
|              Merc�s|           561.95|                     2|
|            Viadutos|561.4000000000001|                     4|
|         Turvol�ndia|            561.2|                     1|
|           Nova Lima|560.9422924901186|                   253|
|     Coronel Pacheco|            559.8|                     1|
|                Iju�|559.4105485232067|                   237|
|   Ribeir�o Vermelho|           559.05|                     4|
+--------------------+-----------------+----------------------+
only showing top 50 rows

In [71]:
spark.sql("""
SELECT NO_MUNICIPIO_ESC, NU_NOTA_CN
FROM MICRODADOS_ENEM_2020
ORDER BY NU_NOTA_CN DESC;
""").show()

+----------------+----------+
|NO_MUNICIPIO_ESC|NU_NOTA_CN|
+----------------+----------+
|     Jo�o Pessoa|     854.8|
|            null|     854.8|
|            null|     854.8|
|        Bras�lia|     854.8|
|            null|     851.1|
|            null|     843.3|
|            null|     843.3|
|            null|     838.7|
|            null|     835.3|
|            null|     834.1|
|            null|     833.5|
|            null|     831.5|
|           Bel�m|     831.5|
|            null|     831.5|
|         Goi�nia|     831.2|
|            null|     829.6|
|            null|     828.9|
|            null|     827.9|
|            null|     827.2|
|            null|     827.2|
+----------------+----------+
only showing top 20 rows

Qual é a nota média em matemática dos alunos cuja mãe possui PELO MENOS o ensino superior completo, do sexo feminino que estudaram numa escola em Belo Horizonte?

In [ ]:
spark.sql("""
SELECT 
    Q002,
    AVG(NU_NOTA_MT) AS NOTA_MEDIA_MAT,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_MT IS NOT NULL
    AND Q002 IN ('F', 'G')
GROUP BY 
    Q002
ORDER BY 
    NOTA_MEDIA_MAT DESC;
""").show(50)

+----+-----------------+----------------------+
|Q002|   NOTA_MEDIA_MAT|CONTAGEM_PARTICIPANTES|
+----+-----------------+----------------------+
|   G| 594.751494302845|                276015|
|   F|580.2815139587111|                313496|
+----+-----------------+----------------------+

In [ ]:
spark.sql("""
SELECT 
    CASE 
        WHEN Q002 IN ('F', 'G') THEN 'F ou G'
        ELSE Q002
    END AS Q002_UNIFICADO,
    ROUND(AVG(NU_NOTA_MT), 2) AS NOTA_MEDIA_MAT,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_MT IS NOT NULL
    AND Q002 IN ('F', 'G')
GROUP BY 
    Q002_UNIFICADO
ORDER BY 
    NOTA_MEDIA_MAT DESC;          
""").show()

+--------------+--------------+----------------------+
|Q002_UNIFICADO|NOTA_MEDIA_MAT|CONTAGEM_PARTICIPANTES|
+--------------+--------------+----------------------+
|        F ou G|        587.06|                589511|
+--------------+--------------+----------------------+

Sobre o ENEM 2020, qual é a média da nota em matemática apenas para as alunas do sexo Feminino?

In [74]:
spark.sql("""
SELECT 
    TP_SEXO AS SEXO,
    AVG(NU_NOTA_MT) AS NOTA_MEDIA_MAT,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_MT IS NOT NULL
GROUP BY 
    TP_SEXO
ORDER BY 
    NOTA_MEDIA_MAT DESC
""").show()

+----+-----------------+---------------------+
|SEXO|   NOTA_MEDIA_MAT|CONTAGEM_PARTICPANTES|
+----+-----------------+---------------------+
|   M|550.9087170619391|              1028787|
|   F|500.6864256785913|              1568653|
+----+-----------------+---------------------+

Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola no estado de Santa Catarina e possuem PELO MENOS 1 banheiro em casa?

In [83]:
spark.sql("""
SELECT 
    AVG(NU_NOTA_CH) AS NOTA_MEDIA_CH,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    SG_UF_PROVA = 'SC'
    AND Q008 <> 'A'
GROUP BY 
    SG_UF_PROVA
ORDER BY 
    NOTA_MEDIA_CH DESC;
""").show()

+-----------------+----------------------+
|    NOTA_MEDIA_CH|CONTAGEM_PARTICIPANTES|
+-----------------+----------------------+
|534.9679601006472|                117954|
+-----------------+----------------------+

Qual é a média da nota em Ciências Humanas para os alunos do sexo masculino que estudaram numa escola no estado de São Paulo?

In [89]:
spark.sql("""
SELECT 
    AVG(NU_NOTA_CH) AS NOTA_MEDIA_CH,
    COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM 
    MICRODADOS_ENEM_2020
WHERE 
    NU_NOTA_CH IS NOT NULL
    AND TP_SEXO = 'M'
    AND SG_UF_ESC = 'SP'
GROUP BY 
    SG_UF_ESC
ORDER BY 
    NOTA_MEDIA_CH DESC;
""").show(50)

+----------------+----------------------+
|   NOTA_MEDIA_CH|CONTAGEM_PARTICIPANTES|
+----------------+----------------------+
|553.678013870444|                 47439|
+----------------+----------------------+

Quantas pessoas que estudaram numa escola no estado do Rio de Janeiro do sexo masculino obtiveram nota em matemática maior do que 600?

In [91]:
total_participantes = spark.sql("""
SELECT COUNT(NU_INSCRICAO) AS CONTAGEM_PARTICIPANTES
FROM MICRODADOS_ENEM_2020
WHERE SG_UF_ESC = 'RJ'
  AND TP_SEXO = 'M'
  AND NU_NOTA_MT > 600;
""").show()

+----------------------+
|CONTAGEM_PARTICIPANTES|
+----------------------+
|                  8581|
+----------------------+